starter-theme/.DS_Store
starter-theme/.sass-cache
starter-theme/img/.DS_Store
starter-theme/img/_icons-for-sprite2x/.DS_Store
starter-theme/img/_icons-for-sprite/.DS_Store
starter-theme/sass/.DS_Store
starter-theme/theme-name/_production/node_modules/
.DS_Store
starter-theme/theme-name/_production/.DS_Store
node_modules/