/*
 * Base HTML tags
 ======================================================= */
*{
	box-sizing: border-box;
}

html{
	font-size: 1em;
	line-height: 1.4;
}

body{
	@extend %font-primary-regular;
}

hr{
	height: 1px;
	border: 0;
}

/*
 * Images
 ======================================================= */
figure{
	margin: 0;
	img{
		width: 100%;
		display: block;
	}
}