/* ------------------------------------------
Setup your primary, secondary & tertiary
font families.
------------------------------------------*/
$font-primary: 'Helvetica';
$font-secondary: 'Arial';
$font-tertiary: 'Georgia';