/* ------------------------------------------
Return EM value from context pixel value
https://css-tricks.com/snippets/sass/px-to-em-functions/
------------------------------------------*/
@function em($px, $context: $base-font-size){
	@return #{$px/$context}em;
}

/* ------------------------------------------
Return REM value from base pixel value
------------------------------------------*/
@function rem($px, $base: $base-font-size){
	@return #{$px/$base}rem;
}

/* ------------------------------------------
https://trulycode.com/bytes/sass-function-loop-headings-h1h2h3h4h5h6/
Setup the function in your functions or helpers files, wherever you keep these bits.

Then call it with the rules/styles you want wherever you want (As long as the file/include has access to the above function of course).

#{headings(1,6)} {
  color: white;
}
------------------------------------------*/

@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}